/* Color Theme Swatches in Hex */
/*
.cor-destaque { color: #0B0B0D; }
.cor-principal { color: #021373; }
.Moda-3-hex { color: #044BD9; }
.Moda-4-hex { color: #0460D9; }
.cor-secundária { color: #D0D7D9; }
*/
html {
    
    color: #021373;
    font-size: 18px;
    font-family: arial, sans-serif;
    background-color: white;    
}

body {
    max-width: 80%;
    margin: auto;
    background-color: #D0D7D9;   
}

header, main {
    padding: 0 20px;
}

h1, h2 {
    color: #0B0B0D;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center; 
}


h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.2rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#foto img {
    width: 400px;
}

#link {
    background-color:  #021373;
    color: #D0D7D9;
}

nav {
    background-color:  #021373;       
}

a {
    color: #D0D7D9;
    text-decoration: none;
}

.lista-navegaçao {
    display:flex;
    justify-content:center;
    list-style: none;
    width: 100%;
}

.lista-navegaçao > li {
    margin: 20px;   
}

.lista-navegaçao-footer {
    display:flex;
    justify-content:center;
    list-style: none;
    width: 92%;
}

.lista-navegaçao-footer > li {
    margin: 20px;   
}

#experiências h2 {
    display: flex;
    justify-content: center;  
}

#rodape h2 {
    display: flex;
    justify-content: center; 
}

.cabeça {
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;   
}


@media screen and (max-width: 768px) {
    .lista-navegaçao {
        display: flex;
        flex-direction: column;
        width: auto;
        height:max-content; 
    }

    .lista-navegaçao > ul {
        margin: 0px;
    }

    .lista-navegaçao > li {
        max-width:min-content;  
        margin: 0.5em; 
    }

    #foto img {
        width:100%;
        align-self: auto;
    }

    .lista-navegaçao-footer {
        display:flex;
        justify-content:center;
        list-style: none;
        width: 78%;    
    }

    .lista-navegaçao-footer > li {
        margin: 10px;   
    }

    #educação, #certificaçoes, #experiencias, #redes-sociais {
       margin-top: 15%;
    }

    body {
        max-width: 100%;
        margin: auto;
        background-color: #D0D7D9;   
    }

    ul {
        display: block;
        list-style-type: disc;
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
        unicode-bidi: isolate;
        padding-block-start: 1em;
        padding-block-end: 1em;
    }
}
